.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #906214;
}

.white {
  background-color: #fcfcfc;
}

.selected {
  background-color: #e9e91b;
}

.available {
  background-color: #0ed40e;
}

.threatened {
  background-color: #ff0101;
}
