.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  border: black solid 2px;
  display: flex;
  flex-wrap: wrap;
}

.coordX {
  width: calc(64px * 8);
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-size: 18px;
}

.coordY {
  height: calc(64px * 8);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px;
}
