.history {
  height: calc(100vh - 40px);
  padding: 20px;
  width: 220px;
  margin-left: 50px;
  background-color: lightgray;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}
